# Python Mini Assessment

**EC1B1 â€“ Winter Term 2025/2026**

<div style="font-family: system-ui; padding: 20px 30px 20px 20px; background-color: #FFFFFF; border-left: 8px solid #0570b0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);max-width:600px;color:#212121;">

**Mini Assessment Notebook**
- ðŸ“… Date: 17/02/2026
- ðŸ‘¤ Name: Xuanyang Ji
- ðŸŽ¯ Purpose: 

</div>

**Importing libraries**

To run the notebook, we need first import all the libraries below

In [44]:
import pandas as pd

## Section 1: Importing Data

In this project, the raw data are stored on GitHub, which allows the Excel file to be read directly from its URL without first converting it into a byte stream.

In [45]:
url = 'https://raw.githubusercontent.com/jxy-ygjm/EC1B1-Mini-Assessment/main/data/raw/PWT_EC1B1_2025.xlsx'

In [46]:
# Read all sheets from the Excel file
all_sheets = pd.read_excel(url, sheet_name=None)

# Create a dictionary to store the selected sheets
selected_sheets = {}

# Select sheets starting from the third one
for sheet in list(all_sheets.keys())[2:]:
    selected_sheets[sheet] = all_sheets[sheet]

In [47]:
# Explore the structure of the selected sheets
for key in selected_sheets.keys():
    df = selected_sheets[key]
    print(f"Sheet name:{key}\nColumns in {key}: {list(df.columns)}\n")

Sheet name:rgdpna
Columns in rgdpna: ['countrycode', 'country', 'currency_unit', 'year', 'rgdpna']

Sheet name:rnna
Columns in rnna: ['countrycode', 'year', 'rnna']

Sheet name:emp
Columns in emp: ['countrycode', 'year', 'emp']

Sheet name:hc
Columns in hc: ['countrycode', 'year', 'hc']

Sheet name:pop
Columns in pop: ['countrycode', 'year', 'pop']

Sheet name:labsh
Columns in labsh: ['countrycode', 'year', 'labsh']

As we can see, in the columns of each sheet, we have `countrycode` and `year`, we will use them to merge our data

In [48]:
# Setup for final dataframe
df = selected_sheets["rgdpna"]

# Merge the remaining sheets into the final dataframe
for key in list(selected_sheets.keys())[1:]:
    df = pd.merge(
        df,
        selected_sheets[key],
        on=["countrycode", "year"],
        how="left"
    )

In [49]:
df

,countrycode,country,currency_unit,year,rgdpna,rnna,emp,hc,pop,labsh
0,AGO,Angola,Kwanza,1970,54237.054688,295517.625000,3.666207,1.015686,5.890365,0.284385
1,AGO,Angola,Kwanza,1971,57491.277344,314195.093750,3.742484,1.018196,6.040777,0.284385
2,AGO,Angola,Kwanza,1972,57606.261719,332435.843750,3.853271,1.020712,6.248552,0.284385
3,AGO,Angola,Kwanza,1973,62272.367188,352647.906250,3.987807,1.023234,6.496962,0.284385
4,AGO,Angola,Kwanza,1974,64202.808594,373267.718750,4.130696,1.025762,6.761380,0.284385
...,...,...,...,...,...,...,...,...,...,...
7745,ZWE,Zimbabwe,US Dollar,2015,42008.199219,64916.476562,6.393752,2.584653,13.814629,0.533381
7746,ZWE,Zimbabwe,US Dollar,2016,42325.726562,66257.859375,6.504374,2.616257,14.030331,0.533381
7747,ZWE,Zimbabwe,US Dollar,2017,44316.742188,67627.562500,6.611773,2.648248,14.236595,0.533381
7748,ZWE,Zimbabwe,US Dollar,2018,46457.097656,69059.625000,6.714952,2.680630,14.438802,0.533381
7749,ZWE,Zimbabwe,US Dollar,2019,42694.070312,69946.421875,6.831017,2.713408,14.645468,0.533381

## Section 2: Data Cleaning

In [50]:
# Drop the 'pop' and 'labsh' columns
df = df.drop(columns=['pop', 'labsh'])

In [52]:
# Filter rows with empty 'emp' values
empty_emp_rows = df[df['emp'].isnull()]

# Display the filtered rows
print(empty_emp_rows)

     countrycode    country currency_unit  year         rgdpna  rnna  emp  hc
1918         DAV  Davidland    Dave Bucks  2000  297615.966975   NaN  NaN NaN
1919         DAV  Davidland    Dave Bucks  2001  406081.830039   NaN  NaN NaN
1920         DAV  Davidland    Dave Bucks  2002  280928.632931   NaN  NaN NaN
1921         DAV  Davidland    Dave Bucks  2003  414515.462764   NaN  NaN NaN
1922         DAV  Davidland    Dave Bucks  2004  318230.406660   NaN  NaN NaN
1923         DAV  Davidland    Dave Bucks  2005  393447.098524   NaN  NaN NaN
1924         DAV  Davidland    Dave Bucks  2006  365408.899996   NaN  NaN NaN
1925         DAV  Davidland    Dave Bucks  2007  290036.306425   NaN  NaN NaN
1926         DAV  Davidland    Dave Bucks  2008  380500.602547   NaN  NaN NaN
1927         DAV  Davidland    Dave Bucks  2009  302530.516234   NaN  NaN NaN
1928         DAV  Davidland    Dave Bucks  2010  365946.408415   NaN  NaN NaN
1929         DAV  Davidland    Dave Bucks  2011  396223.988446   NaN  NaN NaN
1930         DAV  Davidland    Dave Bucks  2012  345315.673615   NaN  NaN NaN
1931         DAV  Davidland    Dave Bucks  2013  308567.501485   NaN  NaN NaN
1932         DAV  Davidland    Dave Bucks  2014  340268.560985   NaN  NaN NaN
1933         DAV  Davidland    Dave Bucks  2015  405198.552883   NaN  NaN NaN
1934         DAV  Davidland    Dave Bucks  2016  414399.491726   NaN  NaN NaN
1935         DAV  Davidland    Dave Bucks  2017  389545.605859   NaN  NaN NaN
1936         DAV  Davidland    Dave Bucks  2018  283183.479868   NaN  NaN NaN
1937         DAV  Davidland    Dave Bucks  2019  292889.230489   NaN  NaN NaN
2587         FRA     France          Euro  2020            NaN   NaN  NaN NaN
2588         FRA     France          Euro  2021            NaN   NaN  NaN NaN
2589         FRA     France          Euro  2022            NaN   NaN  NaN NaN
2590         FRA     France          Euro  2023            NaN   NaN  NaN NaN
2591         FRA     France          Euro  2024            NaN   NaN  NaN NaN
3307         IRL    Ireland          Euro  1945            NaN   NaN  NaN NaN
3308         IRL    Ireland          Euro  1946            NaN   NaN  NaN NaN
3309         IRL    Ireland          Euro  1947            NaN   NaN  NaN NaN
3310         IRL    Ireland          Euro  1948            NaN   NaN  NaN NaN
3311         IRL    Ireland          Euro  1949            NaN   NaN  NaN NaN